<div class="quotes-list">
  <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
    <h2>Quotes</h2>
    <input pInputText type="text" placeholder="Search" [(ngModel)]="searchTerm" />
  </div>

  <p-progressSpinner *ngIf="loading" style="width:50px;height:50px"></p-progressSpinner>

  <p-message severity="error" *ngIf="error" [text]="error"></p-message>
  <p-message severity="info" *ngIf="!loading && filteredQuotes.length === 0" text="No quotes found."></p-message>

  <div *ngFor="let quote of filteredQuotes" class="p-mb-3">
    <p-card>
      <ng-template pTemplate="subtitle">{{ quote.authorName }}</ng-template>
      <p>{{ quote.text }}</p>
      <small>{{ quote.bookTitle }} <span *ngIf="quote.pageNumber">- Page {{ quote.pageNumber }}</span></small>
      <ng-template pTemplate="footer">
        <button pButton icon="pi pi-pencil" class="p-button-text p-mr-2" (click)="editQuote(quote.id)"></button>
        <button pButton icon="pi pi-trash" class="p-button-text p-button-danger" (click)="deleteQuote(quote.id)"></button>
      </ng-template>
    </p-card>
  </div>

  <p-speedDial [model]="speedDialItems" direction="up" class="add-btn"></p-speedDial>
</div>
